repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-use-fstring
  - repo: https://github.com/pre-commit/mirrors-mypy
    # Note: updating to v1.0.0 a bit more work
    rev: v0.902
    hooks:
      - id: mypy
        files: ^quetz/
        additional_dependencies:
          - sqlalchemy-stubs
          - types-click
          - types-Jinja2
          - types-mock
          - types-orjson
          - types-pkg-resources
          - types-redis
          - types-requests
          - types-six
          - types-toml
          - types-ujson
        args: [--show-error-codes]
  - repo: https://github.com/Quantco/pre-commit-mirrors-prettier
    rev: 2.7.1
    hooks:
      - id: prettier-conda
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.294
    hooks:
      - id: pyright
