[build-system]
requires = ["setuptools>=41", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
skip-string-normalization = true

[tool.isort]
line_length = 88
multi_line_output = 3
include_trailing_comma = true

[[tool.tbump.file]]
src = "quetz/_version.py"
version_template = '({major}, {minor}, {patch})'
