name: CI

on: 
  push:
  pull_request:
    branches:
      - master

jobs:
  test_quetz:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        test_database: ["sqlite", "postgres"]
        db_init: ["use-migrations", "create-tables"]
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432/tcp
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
    steps:
      - uses: actions/checkout@v2

      - name: install mamba
        uses: mamba-org/provision-with-micromamba@main
      - name: test quetz
        shell: bash -l -eo pipefail {0}
        env:
          TEST_DB_BACKEND: ${{ matrix.test_database }}
          QUETZ_TEST_DBINIT: ${{ matrix.db_init }}
          POSTGRES_HOST: localhost
          POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}
          S3_ACCESS_KEY: ${{ secrets.s3_access_key }}
          S3_SECRET_KEY: ${{ secrets.s3_secret_key }}
          S3_ENDPOINT: https://s3.sbg.cloud.ovh.net/
          S3_REGION: sbg
        run: |
          # install dev dependencies
          pip install -e .[dev]
          pip install pytest-github-actions-annotate-failures

          if [ "$TEST_DB_BACKEND" == "postgres" ]; then
            export QUETZ_TEST_DATABASE="postgresql://postgres:mysecretpassword@${POSTGRES_HOST}:${POSTGRES_PORT}/postgres"
            echo "Running with postgres"
          fi

          if [ "$QUETZ_TEST_DBINIT" == "use-migrations"]; then
            echo "Using migrations"
          fi

          export QUETZ_IS_TEST=1

          echo "testing server"

          rq worker &

          pytest -v ./quetz/tests/

          echo "install and test plugins"
          pip install ./plugins/quetz_runexports
          pytest -v ./plugins/quetz_runexports/tests

          pip install ./plugins/quetz_repodata_patching
          pytest -v ./plugins/quetz_repodata_patching

          pip install ./plugins/quetz_repodata_zchunk
          pytest -v ./plugins/quetz_repodata_zchunk

          pip install ./plugins/quetz_conda_suggest
          pytest -v ./plugins/quetz_conda_suggest

          pip install ./plugins/quetz_current_repodata
          pytest -v ./plugins/quetz_current_repodata
